*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    width: 800px;
    margin: 1em auto;
}

.main-header{
    height: 200px;
    background-color: #e579e6;
}

.main-conteiner{
    margin-top: 1em;
    margin-bottom: 1em;
}

.main-conteiner::after{
    content: "";
    display: table;
    clear: both;
}

.main-footer{
    height: 100px;
    background-color: #8601ff;
}

.column{
    float: left;
}

.saidbar, .content{
    height: 300px;
}

.saidbar{
    width: calc(30% - 1em);
   background-color: purple;
   float: left;
}

.content{
    width: 40%;
    margin: 0 1em;
    background-color: plum;
    float: left;
}