*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    width: 800px;
    margin: 10em auto;
}

.main-header{
    height: 200px;
    background-color: gold;
}

.main-conteiner{
    margin-top: 1em;
    margin-bottom: 1em;
}

.main-conteiner::after{
    content: "";
    display: table;
    clear: both;
}

.main-footer{
    height: 100px;
    background-color: blue;
}

.saidbar, .content{
    height: 300px;
}

.saidbar{
    width: 30%;
   background-color: purple;
   float: left;
   margin-right: 1em;
}

.content{
    width: calc(70% - 1em);
    background-color: plum;
    float: left;
}